body {
    color: white;
    background-color: #14181C;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
}

.film-list-poster {
    transition-property: all;
    transition-duration: 0.25s;
}

img.film-list-poster {
    width: 308px;
    height: 463px;
    object-fit: cover;
}

.film-list-poster:hover {
    border-style: solid;
    border-width: 2px;
    border-color: rgba(125, 236, 208, 1);
    transform: scale(1.025);
}

.film-card-thumbnail {
    width: 75px;
    height: 110px;
    object-fit: cover;
}

.actor-card-thumbnail {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.actor-profile-card h2 {
    font-size: 1.4rem;
}

.actor-profile-card {
    background-color: #ffffff;
    border-radius: 8px;
}

.actor-profile-card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}


.input-error {
    color: #9c1e1e;
    background-color: hotpink;
    border-style: solid;
    border-width: 1px;
    border-color: #9c1e1e;
}
