<br>
<h3 class="bg-warning text-center">Login Page</h3>
<br><br>
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100"> 

        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          

<button type="button" class="btn btn-outline-dark btn-lg" style="margin: 5px; width: 500px;"
[routerLink]="['/customer-login']" >Customer Login</button>
<br>
<button type="button" class="btn btn-outline-dark btn-lg" style="margin: 5px; width: 500px;"
[routerLink]="['/restaurant-manager-login']">Restaurant Login</button>
<br>
<button type="button" class="btn btn-outline-dark btn-lg" style="margin: 5px; width: 500px;"
[routerLink]="['/delivery-login']">Delivery Login</button>



            <div class="text-left" style="float: left;"> 
              <img src="assets/images/login_img.jpg" class="rounded float-start" width="500" height="400">
              
             </div>
             
        </div>
      </div>
    </div>
   